.text-field{
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 1px 0px;
    color: black;
}
.text-field:focused{
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #2196f3;
}
.text-field:disabled{
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-style: segments(2, 1, 2, 1);
    -fx-opacity: 0.2;
    color: black;
}